body {
    background-image: url("posties background.jpg");
    background-size: cover;
    margin: 1% !important;
}

h1, input, .fc-day-grid-event {
    background: yellow !important;
}

.form-control {
    background: yellow !important;
}

.form-control-file {
    background: none !important;
}

h1 {
    width: 200px;
    padding: 10px;
    padding-bottom: 14px;
    border-style: solid;
}

#next, #prev {
    font-size:20px;
    height: 38px;
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: 5px;
}

/* Removes the highlight from "today" (since a calendar is the base) */
.fc-today {
    background-color: inherit !important;
}

.fc-day-number {
    display: none;
}

.fc-event {
    min-height: 36px;
}

/* Makes text wrap */
.fc-day-grid-event > .fc-content {
    padding: 0 1px;
    white-space: normal !important;
    word-wrap: break-word;
}