/* General styling */
body {
    background-image: url("posties background.jpg");
    background-size: cover;
    margin: 1% !important;
}

h1 {
    width: 200px;
    padding: 10px;
    padding-bottom: 14px;
    border-style: solid;
}

h1, input {
    background: yellow;
}

.nav-button {
    float: right;
    margin-right: 5px;
}

.nav-button-right {
    float: right;
}

/* Home Page */
#next, #prev {
    font-size:20px;
    height: 38px;
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: 5px;
}

.fc-today { /* Removes the highlight from "today" (since a calendar is the base) */
    background-color: inherit !important;
}

.fc-day-number {
    display: none;
}

.fc-event {
    min-height: 36px;
    background: yellow !important;
}

.fc-day-grid-event > .fc-content { /* Makes text wrap */
    padding: 0 1px;
    white-space: normal !important;
    word-wrap: break-word;
}

/* Profile Pages */
.profile-header {
    width: fit-content;
    margin-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
}

.account-img {
    width: auto;
    height: auto;
    padding: 0;
}

.pfp-div {
    width: 200px;
}

#id_avatar {
    background: white;
}

/* Login/Registration Pages */
.signed-in-header {
    width: 500px;
}