{% extends "main/base.html" %}
{% load socialaccount %}

{% block title %}Posties - Login{% endblock %}

{% block content %}
    <center>
    {% if user.is_authenticated %}
        <h1>You are already signed in.</h1>
        <a href="/">Home</a>
    {% else %}
        <center><u><h1>LOGIN</h1></u></center>
        <br>
        <div class="d-flex justify-content-center">
            <form method="POST" class="form-group">
                {% csrf_token %}
                {{form}}
                <button type="submit" class="btn btn-success">Login</button>
                <br>
                <h3 style="margin-bottom:15px; margin-top:15px">OR</h3>
                <a href="{% provider_login_url 'github' %}" class="btn btn-secondary"><i class="fa fa-github fa-fw"></i><span>Login with GitHub</span></a>
                <br><br>
                <p>Don't have an account? Create one <a href="/register">Here</a></p>
            </form>
        </div>
    {% endif %}
    </center>
{% endblock %}