{% extends "main/base.html" %}

{% block title %}Posties - Help{% endblock %}

{% block content %}
    <center>
        <h1>HELP</h1>
        <br>
        <h2>Welcome to Posties!</h2>
        <p style="font-size: 20px">
            Posties is a unique social media application where users can interact through putting "sticky notes" onto a virtual board.<br>
            To create posts, you must first make an account and log in.<br><br>

            How to use the site:<br>
            Create a post by clicking on any empty space within a grid cell (login required).<br>
            Edit or delete a post by clicking on a post you made (login required).<br>
            View a user's profile by clicking on a post that is not your own.<br>
        </p>
        <button onclick="location.href=href='/'" class="btn btn-primary">Home</button>
    </center>
{% endblock %}