{% extends "main/base.html" %}

{% block title %}Posties - Help{% endblock %}

{% block content %}
    <center>
        <h1>HELP</h1>

        <br>
        <h2>Welcome to Posties!</h2>
        <p style="font-size: 20px">
            Posties is a unique social media application where users can interact through putting "sticky notes" onto a virtual board.<br>
            To use the site, you must first make an account and log in.<br><br>

            If you are logged in:<br>
            To create a post, click on any empty space within a grid cell and type a message.<br>
            To edit a post, left-click on any post you created and type a new message.<br>
            To delete a post, right-click on any post you created.<br>
        </p>
        <button onclick="location.href=href='/'" class="btn btn-primary">Home</button>
    </center>
{% endblock %}