{% extends "main/base.html" %}

{% block title %}Posties - Help{% endblock %}

{% block content %}
    <center>
        <h1>HELP</h1>

        <br>
        <h2>Welcome to Posties!</h2>
        <p style="font-size: 20px">
            Posties is a unique social media application where users can interact through putting "sticky notes" onto a virtual board.<br>
            To use the site, you must first make an account and log in.<br><br>
            
            If you are logged in:<br>
            To create a post, click on any empty space within a grid cell, type your message, and click OK.<br>
            To edit a post, left-click on any post you created, type a new message, and click OK.<br>
            To delete a post, right-click on any post you created and click OK.<br>
            To flip through pages, use the arrows in the top-left corner of the main page.
        </p>
        <button onclick="location.href=href='/'" class="btn btn-primary">Home</button>
    </center>
{% endblock %}