{% extends "main/base.html" %}

{% block title %}Posties - Home{% endblock %}

{% block extra_head_content %}
    <!-- Required content to use a calendar, FullCalendar, as a base -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.js"></script>

    {{ request.user.username | json_script:"username" }}
{% endblock %}

{% block content %}
    <center><h1>POSTIES</h1></center>

    {% if user.is_authenticated %}
        <button onclick="location.href=href='/logout'" class="btn btn-danger" style="float:right; margin-bottom: 5px">Logout</button>
    {% else %}
        <button onclick="location.href=href='/login'" class="btn btn-success" style="float:right; margin-bottom: 5px">Login</button>
    {% endif %}

    <button type="button" class="btn btn-light" id="prev">
        <b>&lt;</b>
    </button>
    <button type="button" class="btn btn-light" id="next">
        <b>&gt;</b>
    </button>
    <script>
        // The buttons skip 2 grids at once to circumvent a problem w/ using a calendar base that causes posts at the beginning/end of the grid to appear on the previous/next grid
        $("#next").click(function() {
            $("#calendar").fullCalendar("next");
            $("#calendar").fullCalendar("next");
        });
        $("#prev").click(function() {
            $("#calendar").fullCalendar("prev");
            $("#calendar").fullCalendar("prev");
        });
    </script>

    {% if user.is_authenticated %}
        <script>
            const username = JSON.parse(document.getElementById('username').textContent);
            $(document).ready(function () {
                var calendar = $('#calendar').fullCalendar({ // If signed in, a "calendar"/series of grids is displayed that allows the user to create posts in grid cells
                    header: false,
                    events: '/all_events', // events = posts
                    selectable: true,
                    selectHelper: true,
                    columnHeader: false,
                    allDayDefault: true, // Makes the calendar's event times not appear on posts
                    eventOrder: '', // Makes posts ordered by recency
                    eventTextColor: 'black',
                    eventBorderColor: 'black',
                    contentHeight: '9999', // Makes posts have dynamic height
                    hiddenDays: [0], // Removes a column to make the grid a 6x6
                    select: function (start, end, allDay) { // Function that allows the user to create posts
                        var charLimit = 50;
                        var title = prompt("Enter message (" + charLimit + " char limit):"); // title = post message
                        if (title.length > charLimit) {
                            title = title.substr(0, charLimit);
                        }
                        if (title) {
                            var start = $.fullCalendar.formatDate(start, "Y-MM-DD HH:mm:ss");
                            var end = $.fullCalendar.formatDate(end, "Y-MM-DD HH:mm:ss");
                            const log_date = new Date().toLocaleString();
                            $.ajax({
                                type: "GET",
                                url: '/add_event',
                                data: {'title': title + "\n\n" + username + "\n" + log_date, 'start': start, 'end': end, 'username': username},
                                dataType: "json",
                                success: function (data) {
                                    calendar.fullCalendar('refetchEvents');
                                },
                                error: function (data) {
                                    alert('Error: Please try again');
                                }
                            });
                        }
                    },
                    eventClick: function (event) {
                        if (username == event.username) {
                            if (confirm("Are you sure you want to delete this post?")) {
                            var id = event.id;
                                $.ajax({
                                    type: "GET",
                                    url: '/remove',
                                    data: {'id': id, 'username': username},
                                    dataType: "json",
                                    success: function (data) {
                                        calendar.fullCalendar('refetchEvents');
                                    },
                                    error: function (data) {
                                        alert('Error: Please try again');
                                    }
                                });
                            }   
                        }
                    },
                });
            });
        </script>
    {% else %}
        <script>
            $(document).ready(function () {
                var calendar = $('#calendar').fullCalendar({ // If not signed in, a "calendar"/series of grids is displayed that does not allow the user to create posts
                    header: false,
                    events: '/all_events', // events = posts
                    selectHelper: true,
                    columnHeader: false,
                    allDayDefault: true, // Makes the calendar's event times not appear on posts
                    eventOrder: '', // Makes posts ordered by recency
                    eventTextColor: 'black',
                    eventBorderColor: 'black',
                    contentHeight: '9999', // Makes posts have dynamic height
                    hiddenDays: [0], // Removes a column to make the grid a 6x6
                });
            });
        </script>
    {% endif %}
    
    <div class="col-md-12">
        <div id='calendar'></div> <!-- calendar = series of grids where posts can be made in grid cells -->
    </div>
{% endblock %}