{% extends "main/base.html" %}

{% block title %}Posties - Home{% endblock %}

{% block extra_head_content %}
    <!-- Required content to use a calendar, FullCalendar, as a base -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.js"></script>
    
    <!-- Adds the eventRightclick function -->
    {% load static %}
    <script src="{% static 'main/fullcalendar-rightclick.js' %}"></script>

    {{ request.user.username | json_script:"username" }}
{% endblock %}

{% block content %}
    <!-- Prevents the successful login message from appearing -->
    {% if messages %} 
        {% for message in messages %}
        {% endfor %}
    {% endif %}

    <center><h1>POSTIES</h1></center>

    <!-- Navigation Buttons -->
    <button type="button" class="btn btn-light" id="prev">
        <b>&lt;</b>
    </button>
    <button type="button" class="btn btn-light" id="next">
        <b>&gt;</b>
    </button>
    <script>
        // The buttons skip 2 grids at once to circumvent a problem w/ using a calendar base that causes posts at the beginning/end of the grid to appear on the previous/next grid
        $("#next").click(function() {
            $("#calendar").fullCalendar("next");
            $("#calendar").fullCalendar("next");
        });
        $("#prev").click(function() {
            $("#calendar").fullCalendar("prev");
            $("#calendar").fullCalendar("prev");
        });
    </script>
    {% if user.is_authenticated %}
        <button onclick="location.href=href='/logout'" class="btn btn-danger nav-button-right">Logout</button>
        <button onclick="location.href=href='/profile'" class="btn btn-warning nav-button">Profile</button>
    {% else %}
        <button onclick="location.href=href='/login'" class="btn btn-success nav-button-right">Login</button>
    {% endif %}
    <button onclick="location.href=href='/help'" class="btn btn-info nav-button" style="margin-bottom: 5px;">Help</button>

    <!-- Post Management Modal -->
    <div class="modal fade" id="manageModal" tabindex="-1" aria-labelledby="manageModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="manageModalLabel">What would you like to do?</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-success" data-bs-dismiss="modal" onclick="editPost()">Edit Post</button>
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal" onclick="deletePost()">Delete Post</button>
            </div>
        </div>
        </div>
    </div>
    <!-- View Profile Modal -->
    <div class="modal fade" id="profileModal" tabindex="-1" aria-labelledby="profileModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="profileModalLabel">Continue to profile?</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-warning" data-bs-dismiss="modal" onclick="location.href=href='/profile/' + eventUser">View Profile</button>
            </div>
        </div>
        </div>
    </div>

    <script>
        const username = JSON.parse(document.getElementById('username').textContent);
        var isAuthenticated = '{{request.user.is_authenticated}}' === 'True';

        function editPost() {
            var charLimit = 50;
            var title = prompt("Enter an updated message (" + charLimit + " char limit):"); // title = post message
            if (title.length > charLimit) {
                title = title.substr(0, charLimit);
            }
            if (title) {
                $.ajax({
                    type: "GET",
                    url: '/edit',
                    data: {'id': eventID, 'title': title + "\n\n" + username  + "\n" + eventLogDate + " (Edited)", 'username': username}, // Adds extra info to title for display purposes only
                    dataType: "json",
                    success: function (data) {
                        location.reload();
                        //calendar.fullCalendar('refetchEvents');
                    },
                    error: function (data) {
                        alert('Error: Please try again');
                    }
                });
            }
        }
        function deletePost() {
            if (confirm("Are you sure you want to delete this post?")) {
                $.ajax({
                    type: "GET",
                    url: '/remove',
                    data: {'id': eventID, 'username': username},
                    dataType: "json",
                    success: function (data) {
                        location.reload();
                        //calendar.fullCalendar('refetchEvents');
                    },
                    error: function (data) {
                        alert('Error: Please try again');
                    }
                });
            }
        }

        $(document).ready(function () {
            var calendar = $('#calendar').fullCalendar({ // If signed in, a "calendar"/series of grids is displayed that allows the user to create posts in grid cells
                header: false,
                events: '/all_events', // events = posts
                selectable: true,
                columnHeader: false,
                allDayDefault: true, // Makes the calendar's event times not appear on posts
                eventOrder: '', // Makes posts ordered by recency
                eventTextColor: 'black',
                eventBorderColor: 'black',
                contentHeight: '9999', // Makes posts have dynamic height
                hiddenDays: [0], // Removes a column to make the grid a 6x6
                selectAllow: function(selectInfo) { // Prevents selecting more than one "day"/grid cell at a time, making "long-posting" impossible
                    const oneDay = 86400000; // Number of milliseconds in a day
                    var startDay = selectInfo.start;
                    var endDay = selectInfo.end - oneDay; // selectInfo.end always starts one day past selectInfo.start
                    if (startDay == endDay) {
                        return true;
                    }
                    else {
                        return false;
                    }
                },
                select: function (start, end, allDay) { // Allows the user to create posts
                    if (isAuthenticated) {
                        var charLimit = 50;
                        var title = prompt("Enter message (" + charLimit + " char limit):"); // title = post message
                        if (title.length > charLimit) {
                            title = title.substr(0, charLimit);
                        }
                        if (title) {
                            var start = $.fullCalendar.formatDate(start, "Y-MM-DD HH:mm:ss");
                            var end = $.fullCalendar.formatDate(end, "Y-MM-DD HH:mm:ss");
                            const log_date = new Date().toLocaleString();
                            $.ajax({
                                type: "GET",
                                url: '/add_event',
                                data: {'title': title + "\n\n" + username + "\n" + log_date, 'start': start, 'end': end, 'username': username, 'log_date': log_date}, // Adds extra info to title for display purposes only
                                dataType: "json",
                                success: function (data) {
                                    calendar.fullCalendar('refetchEvents');
                                },
                                error: function (data) {
                                    alert('Error: Please try again');
                                }
                            });
                        }
                    }
                },
                eventClick: function (event) { // Allows the user to manage their own posts and view other users' profiles
                    if (username == event.username) {
                        eventID = event.id;
                        eventLogDate = event.log_date;
                        $("#manageModal").modal("show");
                    }
                    else {
                        eventUser = event.username;
                        $("#profileModal").modal("show");
                    }
                },
            });
        });
    </script>
    
    <div class="col-md-12">
        <div id='calendar'></div> <!-- calendar = series of grids where posts can be made in grid cells -->
    </div>
{% endblock %}