{% extends "main/base.html" %}

{% block title %}Posties - {{ profile.user }}'s Profile{% endblock %}

{% block content %}
    <center><h1 style="width: 320px;">{{ profile.user }}</h1></center>
    <button onclick="location.href=href='/'" class="btn btn-primary" style="float:right; margin-bottom: 5px; margin-right: 5px">Home</button>
    <div style="width: 200px;">
        <center>
            <h2>{{ profile.user }}</h2>
            <img class="rounded-circle account-img" src="{{ profile.avatar.url }}" style="width: auto; height: auto; padding: 0" alt="This user's profile picture"/>
        </center>
    </div>
    <br>
    <label class="small mb-1">Bio:</label> {{ profile.bio }}
{% endblock %}