{% extends "main/base.html" %}

{% block title %}Posties - {{ profile.user }}'s Profile{% endblock %}

{% block content %}
    <center>
        <h1 class="profile-header">{{ profile.user }}</h1>
        <br>
        <button onclick="location.href=href='/'" class="btn btn-primary nav-button-right">Home</button>
        <div class="pfp-div">
            <img class="rounded-circle account-img" src="{{ profile.avatar.url }}" alt="This user's profile picture"/>
        </div>
        <br>
        <div id="bio" style="background-color: white; border-style: solid; border-width: 1px; padding: 10px; width: 500px;">
            {{ profile.bio }}
        </div>
    </center>
{% endblock %}