{% extends "main/base.html" %}

{% block title %}Posties - {{ profile.user }}'s Profile{% endblock %}

{% block content %}
    <center><h1 style="width: 320px;">{{ profile.user }}'s PROFILE</h1></center>
    <div style="width: 200px;">
        <center>
            <h2>{{ profile.user }}</h2>
            <img class="rounded-circle account-img" src="{{ user.profile.avatar.url }}" style="width: auto; height: auto; padding: 0" alt="This user's profile picture"/>
        </center>
    </div>
    <br>
    {% if user_form.errors %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <div id="form_errors">
                {% for key, value in user_form.errors.items %}
                    <strong>{{ value }}</strong>
                {% endfor %}
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    <div class="form-content">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-row">
                <div class="col-md-5">
                    <label class="small mb-1">Bio:</label> {{ profile.bio }}
                </div>
            </div>
        </form>
    </div>
{% endblock %}