{% extends "main/base.html" %}

{% block title %}Posties - Account Registration{% endblock %}

{% block content %}
        {% if user.is_authenticated %}
            <center>
                <h1>You are already signed in.</h1>
                <a href="/">Home</a>
            </center>
        {% else %}
            <center><u><h1>REGISTER AN ACCOUNT</h1></u></center>
            <br>
            <div class="d-flex justify-content-center">
                <form method="POST" class="form-group">
                    {% csrf_token %}
                    {{form}}
                    <button type="submit" class="btn btn-success">Register</button>
                </form>
            </div>
        {% endif %}
{% endblock %}