{% extends "main/base.html" %}

{% block title %}Posties - Account Registration{% endblock %}

{% block content %}
        {% if user.is_authenticated %}
            <center>
                <h1 class="signed-in-header">You are already signed in.</h1>
                <button onclick="location.href=href='/'" class="btn btn-primary">Home</button>
            </center>
        {% else %}
            <center><h1 style="width: 500px;">REGISTER AN ACCOUNT</h1></center>
            <br>
            <div class="d-flex justify-content-center">
                <form method="POST" class="form-group">
                    {% csrf_token %}
                    {{form}}
                    <button type="submit" class="btn btn-success">Register</button>
                </form>
            </div>
        {% endif %}
{% endblock %}